{% extends "personal/base.html" %}


{% block content %}
<p>Hey, welcome to my website! </p>

<div class="container">
  <div class="row" style="border: 1px solid black">
    {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
    <div class="col-md-12">{{Bibi|safe}}</div>
  </div>
</div>

    <div class="row" style="border: 1px solid black">
    {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
    <div class="col-md-12">{{my_plot|safe}}</div>
  </div>


    <div class="row" style="border: 1px solid black">
    {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
    <div class="col-md-12">{{my_plot|safe}}</div>
  </div>
</div>


{% endblock %}